<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
    <add name="mathsGenius" connectionString="Data Source=laptop-k32ns8m3;Initial Catalog=MathsGenius;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="MathsGenius.Properties.Settings.MathsGeniusConnectionString"
        connectionString="Data Source=laptop-k32ns8m3;Initial Catalog=MathsGenius;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>